HKMonitor/Service References/ServiceReference1/MESWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MES_Bom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cpCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_BomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MES_BomResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_Bom_order">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_Bom_orderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MES_Bom_orderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_MatrialsList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_MatrialsListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MES_MatrialsListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_Matrials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cpCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_MatrialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MES_MatrialsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_MatrialsVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cpCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_MatrialsVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MES_MatrialsVersionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_MatrialsVersion_order">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="orderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_MatrialsVersion_orderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MES_MatrialsVersion_orderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INV_Files">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="matrialNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INV_FilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="INV_FilesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_BomAndMaterials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MES_BomAndMaterialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MES_BomAndMaterialsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MES_BomSoapIn">
    <wsdl:part name="parameters" element="tns:MES_Bom" />
  </wsdl:message>
  <wsdl:message name="MES_BomSoapOut">
    <wsdl:part name="parameters" element="tns:MES_BomResponse" />
  </wsdl:message>
  <wsdl:message name="MES_Bom_orderSoapIn">
    <wsdl:part name="parameters" element="tns:MES_Bom_order" />
  </wsdl:message>
  <wsdl:message name="MES_Bom_orderSoapOut">
    <wsdl:part name="parameters" element="tns:MES_Bom_orderResponse" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsListSoapIn">
    <wsdl:part name="parameters" element="tns:MES_MatrialsList" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsListSoapOut">
    <wsdl:part name="parameters" element="tns:MES_MatrialsListResponse" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsSoapIn">
    <wsdl:part name="parameters" element="tns:MES_Matrials" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsSoapOut">
    <wsdl:part name="parameters" element="tns:MES_MatrialsResponse" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersionSoapIn">
    <wsdl:part name="parameters" element="tns:MES_MatrialsVersion" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersionSoapOut">
    <wsdl:part name="parameters" element="tns:MES_MatrialsVersionResponse" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersion_orderSoapIn">
    <wsdl:part name="parameters" element="tns:MES_MatrialsVersion_order" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersion_orderSoapOut">
    <wsdl:part name="parameters" element="tns:MES_MatrialsVersion_orderResponse" />
  </wsdl:message>
  <wsdl:message name="INV_FilesSoapIn">
    <wsdl:part name="parameters" element="tns:INV_Files" />
  </wsdl:message>
  <wsdl:message name="INV_FilesSoapOut">
    <wsdl:part name="parameters" element="tns:INV_FilesResponse" />
  </wsdl:message>
  <wsdl:message name="MES_BomAndMaterialsSoapIn">
    <wsdl:part name="parameters" element="tns:MES_BomAndMaterials" />
  </wsdl:message>
  <wsdl:message name="MES_BomAndMaterialsSoapOut">
    <wsdl:part name="parameters" element="tns:MES_BomAndMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="MES_BomHttpGetIn">
    <wsdl:part name="cpCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_BomHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_Bom_orderHttpGetIn">
    <wsdl:part name="orderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_Bom_orderHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsListHttpGetIn">
    <wsdl:part name="orderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsListHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsHttpGetIn">
    <wsdl:part name="cpCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersionHttpGetIn">
    <wsdl:part name="cpCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersionHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersion_orderHttpGetIn">
    <wsdl:part name="orderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersion_orderHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="INV_FilesHttpGetIn">
    <wsdl:part name="matrialNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INV_FilesHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_BomAndMaterialsHttpGetIn">
    <wsdl:part name="productNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_BomAndMaterialsHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="MES_BomHttpPostIn">
    <wsdl:part name="cpCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_BomHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_Bom_orderHttpPostIn">
    <wsdl:part name="orderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_Bom_orderHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsListHttpPostIn">
    <wsdl:part name="orderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsListHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsHttpPostIn">
    <wsdl:part name="cpCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersionHttpPostIn">
    <wsdl:part name="cpCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersionHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersion_orderHttpPostIn">
    <wsdl:part name="orderNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_MatrialsVersion_orderHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="INV_FilesHttpPostIn">
    <wsdl:part name="matrialNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="INV_FilesHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="MES_BomAndMaterialsHttpPostIn">
    <wsdl:part name="productNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MES_BomAndMaterialsHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:portType name="MESWebserviceSoap">
    <wsdl:operation name="MES_Bom">
      <wsdl:input message="tns:MES_BomSoapIn" />
      <wsdl:output message="tns:MES_BomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_Bom_order">
      <wsdl:input message="tns:MES_Bom_orderSoapIn" />
      <wsdl:output message="tns:MES_Bom_orderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsList">
      <wsdl:input message="tns:MES_MatrialsListSoapIn" />
      <wsdl:output message="tns:MES_MatrialsListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_Matrials">
      <wsdl:input message="tns:MES_MatrialsSoapIn" />
      <wsdl:output message="tns:MES_MatrialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion">
      <wsdl:input message="tns:MES_MatrialsVersionSoapIn" />
      <wsdl:output message="tns:MES_MatrialsVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion_order">
      <wsdl:input message="tns:MES_MatrialsVersion_orderSoapIn" />
      <wsdl:output message="tns:MES_MatrialsVersion_orderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="INV_Files">
      <wsdl:input message="tns:INV_FilesSoapIn" />
      <wsdl:output message="tns:INV_FilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_BomAndMaterials">
      <wsdl:input message="tns:MES_BomAndMaterialsSoapIn" />
      <wsdl:output message="tns:MES_BomAndMaterialsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MESWebserviceHttpGet">
    <wsdl:operation name="MES_Bom">
      <wsdl:input message="tns:MES_BomHttpGetIn" />
      <wsdl:output message="tns:MES_BomHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_Bom_order">
      <wsdl:input message="tns:MES_Bom_orderHttpGetIn" />
      <wsdl:output message="tns:MES_Bom_orderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsList">
      <wsdl:input message="tns:MES_MatrialsListHttpGetIn" />
      <wsdl:output message="tns:MES_MatrialsListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_Matrials">
      <wsdl:input message="tns:MES_MatrialsHttpGetIn" />
      <wsdl:output message="tns:MES_MatrialsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion">
      <wsdl:input message="tns:MES_MatrialsVersionHttpGetIn" />
      <wsdl:output message="tns:MES_MatrialsVersionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion_order">
      <wsdl:input message="tns:MES_MatrialsVersion_orderHttpGetIn" />
      <wsdl:output message="tns:MES_MatrialsVersion_orderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="INV_Files">
      <wsdl:input message="tns:INV_FilesHttpGetIn" />
      <wsdl:output message="tns:INV_FilesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_BomAndMaterials">
      <wsdl:input message="tns:MES_BomAndMaterialsHttpGetIn" />
      <wsdl:output message="tns:MES_BomAndMaterialsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MESWebserviceHttpPost">
    <wsdl:operation name="MES_Bom">
      <wsdl:input message="tns:MES_BomHttpPostIn" />
      <wsdl:output message="tns:MES_BomHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_Bom_order">
      <wsdl:input message="tns:MES_Bom_orderHttpPostIn" />
      <wsdl:output message="tns:MES_Bom_orderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsList">
      <wsdl:input message="tns:MES_MatrialsListHttpPostIn" />
      <wsdl:output message="tns:MES_MatrialsListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_Matrials">
      <wsdl:input message="tns:MES_MatrialsHttpPostIn" />
      <wsdl:output message="tns:MES_MatrialsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion">
      <wsdl:input message="tns:MES_MatrialsVersionHttpPostIn" />
      <wsdl:output message="tns:MES_MatrialsVersionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion_order">
      <wsdl:input message="tns:MES_MatrialsVersion_orderHttpPostIn" />
      <wsdl:output message="tns:MES_MatrialsVersion_orderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="INV_Files">
      <wsdl:input message="tns:INV_FilesHttpPostIn" />
      <wsdl:output message="tns:INV_FilesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MES_BomAndMaterials">
      <wsdl:input message="tns:MES_BomAndMaterialsHttpPostIn" />
      <wsdl:output message="tns:MES_BomAndMaterialsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MESWebserviceSoap" type="tns:MESWebserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MES_Bom">
      <soap:operation soapAction="http://tempuri.org/MES_Bom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Bom_order">
      <soap:operation soapAction="http://tempuri.org/MES_Bom_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsList">
      <soap:operation soapAction="http://tempuri.org/MES_MatrialsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Matrials">
      <soap:operation soapAction="http://tempuri.org/MES_Matrials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion">
      <soap:operation soapAction="http://tempuri.org/MES_MatrialsVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion_order">
      <soap:operation soapAction="http://tempuri.org/MES_MatrialsVersion_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INV_Files">
      <soap:operation soapAction="http://tempuri.org/INV_Files" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_BomAndMaterials">
      <soap:operation soapAction="http://tempuri.org/MES_BomAndMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MESWebserviceSoap12" type="tns:MESWebserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MES_Bom">
      <soap12:operation soapAction="http://tempuri.org/MES_Bom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Bom_order">
      <soap12:operation soapAction="http://tempuri.org/MES_Bom_order" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsList">
      <soap12:operation soapAction="http://tempuri.org/MES_MatrialsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Matrials">
      <soap12:operation soapAction="http://tempuri.org/MES_Matrials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion">
      <soap12:operation soapAction="http://tempuri.org/MES_MatrialsVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion_order">
      <soap12:operation soapAction="http://tempuri.org/MES_MatrialsVersion_order" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INV_Files">
      <soap12:operation soapAction="http://tempuri.org/INV_Files" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_BomAndMaterials">
      <soap12:operation soapAction="http://tempuri.org/MES_BomAndMaterials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MESWebserviceHttpGet" type="tns:MESWebserviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="MES_Bom">
      <http:operation location="/MES_Bom" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Bom_order">
      <http:operation location="/MES_Bom_order" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsList">
      <http:operation location="/MES_MatrialsList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Matrials">
      <http:operation location="/MES_Matrials" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion">
      <http:operation location="/MES_MatrialsVersion" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion_order">
      <http:operation location="/MES_MatrialsVersion_order" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INV_Files">
      <http:operation location="/INV_Files" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_BomAndMaterials">
      <http:operation location="/MES_BomAndMaterials" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MESWebserviceHttpPost" type="tns:MESWebserviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="MES_Bom">
      <http:operation location="/MES_Bom" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Bom_order">
      <http:operation location="/MES_Bom_order" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsList">
      <http:operation location="/MES_MatrialsList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_Matrials">
      <http:operation location="/MES_Matrials" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion">
      <http:operation location="/MES_MatrialsVersion" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_MatrialsVersion_order">
      <http:operation location="/MES_MatrialsVersion_order" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="INV_Files">
      <http:operation location="/INV_Files" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MES_BomAndMaterials">
      <http:operation location="/MES_BomAndMaterials" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MESWebservice">
    <wsdl:port name="MESWebserviceSoap" binding="tns:MESWebserviceSoap">
      <soap:address location="http://58.221.197.202:30018/MES/MESWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MESWebserviceSoap12" binding="tns:MESWebserviceSoap12">
      <soap12:address location="http://58.221.197.202:30018/MES/MESWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MESWebserviceHttpGet" binding="tns:MESWebserviceHttpGet">
      <http:address location="http://58.221.197.202:30018/MES/MESWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="MESWebserviceHttpPost" binding="tns:MESWebserviceHttpPost">
      <http:address location="http://58.221.197.202:30018/MES/MESWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>